<!-- CONTENT   -->
<div class="content">
  <div class="container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/FwCKBsbwR68?si=gTF_yKMPtV0MZbto"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <h1>Who are the largest landowners in Luxembourg?</h1>

    <p>
      <a
        href="https://lequotidien.lu/luxembourg/qui-sont-les-plus-gros-proprietaires-fonciers-du-luxembourg/"
        >The largest landowners in Luxembourg are...</a
      >
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum et
      sapiente minus esse iste maxime magni, optio temporibus aliquam
      repellendus.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quia mollitia
      nulla sunt eos libero saepe, sint fugit amet, blanditiis fugiat animi.
      Voluptates dignissimos laborum ipsum porro suscipit veniam dolore,
      necessitatibus obcaecati voluptatem illum quam cupiditate nobis, ratione
      sed. Architecto optio rerum praesentium vel voluptas deleniti minima modi
      eum. Deserunt.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, tempore
      recusandae accusamus doloribus, consequatur et provident eligendi fugiat
      tenetur tempora animi explicabo perferendis beatae excepturi vel
      blanditiis, officia ratione possimus?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      velit nam, aspernatur nisi earum debitis!
    </p>
  </div>
</div>
