<!-- RIGHT SIDE NAVIGATION   -->
<div [ngClass]="{ visible: isVisible }" class="wrap wrap-black">
  <div [ngClass]="{ visible: isVisible }" class="wrap wrap-white">
    <div class="sidenavheader">
      <ul class="sidenavlist">
        <li><a href="#">HEY</a></li>
        <li><a href="#">SETTINGS</a></li>
        <li><a href="#">BACKUP</a></li>
      </ul>
      <button (click)="toggleVisible()" class="wrap-btn close-btn">
        <i>Close</i>
      </button>
    </div>

    <div class="innav">
      <app-tabs></app-tabs>
    </div>
  </div>
</div>
