<!-- RIGHT SIDE NAVIGATION   -->
<div [ngClass]="{ visible: isVisible }" class="wrap wrap-black">
  <div [ngClass]="{ visible: isVisible }" class="wrap wrap-white">
    <div class="sidenavheader">
      <ul class="sidenavlist">
        <li><a href="#">MESSAGES</a></li>
        <li><a href="#">SCHEDULE</a></li>
        <li><a href="#">MISSIONS</a></li>
        <li><a href="#">UTILS</a></li>
        <li><a href="#">NEWS</a></li>
      </ul>
      <button (click)="toggleVisible()" class="wrap-btn close-btn">
        <i>Close</i>
      </button>
    </div>

    <div class="text innav">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, itaque!
      Consequatur inventore a culpa perferendis fugit voluptatum labore veniam
      possimus corporis? Voluptatum perferendis natus porro nobis veniam aut,
      saepe aliquam. Perspiciatis at earum ad nemo fugit harum dignissimos
      cupiditate debitis quaerat, impedit ratione eligendi iste eveniet
      voluptate ut tempore ab! Qui, totam ea temporibus quae non fugiat quos
      magnam aliquid. Quod veritatis pariatur maxime cupiditate atque eaque eum
      voluptas, quis quia doloremque molestias nesciunt ratione deleniti veniam
      excepturi similique iste nihil ipsam laudantium aut et ipsa. Libero
      reiciendis exercitationem magnam. Voluptatum, deleniti placeat. Ullam cum
      ad maiores officiis tempora pariatur harum numquam, itaque repellat alias
      porro similique, error, iusto reiciendis excepturi ducimus at neque fugit?
      Atque, eligendi! Culpa, suscipit est! Iste provident cumque autem vitae
      sequi soluta tempore nemo harum corporis, laudantium laborum quia ducimus
      natus ullam eos earum voluptatum, magni repellendus quis architecto
      inventore. Accusantium ut quas inventore vel? Atque quaerat mollitia
      deleniti, vitae eius obcaecati corporis voluptates officiis aperiam
      voluptate suscipit accusantium excepturi quae possimus pariatur
      consequuntur! Minima magni voluptates placeat veniam. Earum minus nesciunt
      expedita aspernatur culpa. Iste quas necessitatibus deserunt corporis
      nihil fuga nemo impedit, natus laudantium vero quos suscipit velit ex non
      quae perferendis molestiae expedita sunt qui, voluptatum dignissimos
      delectus consequuntur? Possimus, distinctio commodi? Reiciendis rerum
      delectus dolores animi quis, unde eius tenetur deleniti ducimus
      repellendus veniam aliquid excepturi dicta praesentium id obcaecati aut,
      hic culpa pariatur soluta saepe earum! A illo provident minus. Cumque
      maxime sed placeat eligendi dolore delectus illo voluptas inventore
      accusantium temporibus tenetur ex, nihil unde corrupti fugiat repellendus
      pariatur velit? Corporis distinctio odit fugit sed eos hic eum excepturi!
      Perspiciatis saepe vitae laboriosam in eaque distinctio! Quas ut quibusdam
      aut quisquam possimus esse, voluptatum culpa sequi labore sapiente
      delectus nisi vitae aliquid saepe reprehenderit obcaecati ea error
      perferendis accusantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Consectetur, dolores? Tempora a fugit consectetur at
      consequuntur numquam, placeat quia minima ad architecto error expedita
      amet modi obcaecati quae eius sapiente. Cupiditate consequuntur doloremque
      praesentium laborum consectetur. Nesciunt consectetur dolores accusamus
      fugiat hic id et magnam. Atque, incidunt nihil est eaque nam perferendis
      corporis minus modi, suscipit aliquam, molestias itaque veritatis.
      Corporis soluta tenetur provident voluptates possimus est obcaecati,
      similique saepe dignissimos explicabo cum quam, aspernatur consectetur
      expedita quo facere dolorem iusto sed magni quisquam molestiae recusandae,
      tempore quis reprehenderit? Officiis? Voluptas itaque deserunt quae
      praesentium mollitia molestiae voluptatum vero quis fugit, assumenda
      numquam natus hic. At temporibus dolorem eos iure libero nobis saepe esse
      ducimus vero soluta! Vel, minus provident? Minus ullam earum excepturi
      natus consequatur temporibus pariatur eaque, qui quaerat impedit vel velit
      voluptas voluptate magnam fuga cum quam nobis quasi sit explicabo ab rem?
      Facilis voluptates dolorem optio? Ipsam totam dolor sapiente id eveniet
      placeat nulla consectetur libero sed nesciunt architecto magni, molestias
      magnam ducimus alias minus rem reiciendis culpa expedita maiores, quam
      sunt ex necessitatibus quasi! Ipsum! Atque impedit, odit quae harum
      dolores quos fugiat perferendis numquam suscipit delectus a animi nobis
      cum itaque corporis vitae nulla optio quidem. Ea atque inventore
      consectetur, quod repellat tempora iure? Voluptatem reiciendis, omnis quas
      voluptatibus facere a inventore repellendus nihil quod nobis enim quo ipsa
      beatae, officia repudiandae libero culpa! Assumenda rerum consequatur
      dicta ullam numquam facere error odit a! Reprehenderit consequatur sequi
      porro! Sapiente quidem, eaque animi quae assumenda atque fuga possimus
      illum dolores, sit perspiciatis suscipit amet. Eligendi officiis ipsum
      nisi perspiciatis odit natus excepturi inventore voluptatem
      exercitationem? Molestias consequuntur tempora incidunt? Autem architecto
      cupiditate, nemo cumque rerum debitis illum quos a modi molestiae qui
      harum! Id velit possimus amet quidem! Aut blanditiis non, maiores pariatur
      quis doloribus! Tenetur optio iure impedit consequuntur rem doloremque
      exercitationem, veniam enim dolorum aspernatur deserunt non! Cum quis
      adipisci, reprehenderit provident deleniti velit atque non, ipsam eum
      beatae error expedita, quas repudiandae. Facilis est quos impedit unde
      deserunt expedita aliquid officiis voluptatibus recusandae. Placeat
      officiis praesentium voluptatem aut reiciendis laborum iusto laboriosam.
      Voluptas libero vero nisi eos pariatur rerum est beatae eveniet. Natus
      nostrum totam magni eius ab doloribus expedita ratione deserunt quo
      officia exercitationem, earum corrupti nisi! Sapiente, sunt? Quibusdam et
      quidem vitae. Possimus blanditiis, esse voluptatibus sint nemo quibusdam.
      Similique? Amet voluptate minima nemo tempora fugit at, illo nulla id
      soluta mollitia ullam molestias itaque impedit maxime ipsa exercitationem
      labore quia iure! Cupiditate eligendi molestias expedita nulla ratione
      earum ab. Earum, ut delectus, quidem commodi laboriosam incidunt numquam
      maxime iure possimus magni adipisci debitis sed enim harum animi nostrum
      quam quia est eos autem velit, soluta repellendus expedita? Tempore, ea?
    </div>
  </div>
</div>
