.headerbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 60px;
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
}

.main-nav-list li {
  display: inline;
}

.main-nav-list a {
  margin-left: 20px;
}

.main-nav-list li a {
  color: rgb(34, 31, 31);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
