.headerbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky; /* Makes the header sticky */
  top: 0; /* Sticks the header to the top of the viewport */
  z-index: 1000; /* Ensures the header stays above other content */
  box-sizing: border-box; /* Ensures padding and borders are included in height */
  margin-top: -8px; /* Counteracts the body's default margin */
}

.main-nav-list li {
  display: inline;
}

.main-nav-list a {
  margin-left: 20px;
}

.main-nav-list li a {
  color: rgb(34, 31, 31);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.wrap-btn {
  margin: 1rem 0;
  cursor: pointer;
}
