.tabs {
  margin-left: 0px;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

button {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(240, 184, 222);
  }

  &.active {
    background-color: rgb(240, 158, 214);
    border-bottom: 3px solid #333;
    color: #333;
  }
}
